$defaultMargin: 24px;

.meow-fact-list-wrapper {
  .meow-fact-item-wrapper {
    margin-top: $defaultMargin;
  }

  .spinner-wrapper {
    margin: $defaultMargin 0 $defaultMargin;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
