<div class="login-wrapper">
  <div class="login-box">
    <h2>Zaloguj się</h2>

    <form class="login-form" [formGroup]="loginForm">
      <app-input
        [control]="loginForm.login"
        label="Użytkownik"
        placeholder="Użytkownik">
      </app-input>
      <app-input
        [control]="loginForm.password"
        label="Hasło"
        placeholder="Hasło"
        type="password">
      </app-input>

      <app-button [disabled]="loginForm.invalid" (clicked)="onLoginButtonClick()">Zaloguj się</app-button>
    </form>
  </div>
</div>


