<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Zaloguj się</mat-card-title>
    </mat-card-header>
    <form class="login-form" [formGroup]="loginForm">
      <mat-card-content>
        <app-input [control]="loginForm.login" placeholder="Użytkownik"></app-input>
        <app-input [control]="loginForm.password" placeholder="Hasło"></app-input>
      </mat-card-content>
      <app-button [disabled]="loginForm.invalid" (clicked)="onLoginButtonClick()">Zaloguj się</app-button>
    </form>
  </mat-card>
</div>
