.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  .login-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 24px;
    text-align: center;
    box-shadow: 0 0 3px rgba(33,33,33,.2);

    &:hover {
      box-shadow: 0 0 11px rgba(33,33,33,.2);
    }
  }

  .login-input-wrapper {

  }
}
